@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-rubik), var(--font-rubik-mono);
}

@layer base {
  /* :root {
    --background: 213 77% 95%;
    --foreground: 213 5% 10%;
    --card: 213 50% 90%;
    --card-foreground: 213 5% 15%;
    --popover: 213 77% 95%;
    --popover-foreground: 213 95% 10%;
    --primary: 213 100% 69%;
    --primary-foreground: 0 0% 0%;
    --secondary: 213 30% 83%;
    --secondary-foreground: 0 0% 0%;
    --muted: 175 30% 85%;
    --muted-foreground: 213 5% 40%;
    --accent: 175 30% 83%;
    --accent-foreground: 213 5% 15%;
    --destructive: 0 77% 50%;
    --destructive-foreground: 213 5% 90%;
    --border: 213 30% 82%;
    --input: 213 30% 50%;
    --ring: 213 100% 69%;
      --bg-color: #0e1217;
    --grid-color: #a8b3cf;
    --star-color: #a8b3cf;

  }

  .dark {
    --background: (213, 24%, 7%);
    --foreground: 213 5% 100%;
    --card: (213, 24%, 7%);
    --card-foreground: 213 5% 100%;
    --popover: 213 50% 5%;
    --popover-foreground: 213 5% 100%;
    --primary: 213 15% 90%;
    --primary-foreground: 0 0% 0%;
    --secondary: 213 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 175 30% 25%;
    --muted-foreground: 213 5% 65%;
    --accent: 175 30% 25%;
    --accent-foreground: 213 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 213 5% 100%;
    --border: 213 30% 50%;
    --input: 213 30% 50%;
    --ring: 213 15% 90%;
    --radius: 0.5rem;
  } */

  :root {
    --background: 237 79% 97%;
    --foreground: 237 5% 10%;
    --card: 237 50% 97%;
    --card-foreground: 237 5% 15%;
    --popover: 237 79% 97%;
    --popover-foreground: 237 95% 10%;
    --primary: 237 100% 91%;
    --primary-foreground: 0 0% 0%;
    --secondary: 237 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 199 30% 95%;
    --muted-foreground: 237 5% 40%;
    --accent: 199 30% 90%;
    --accent-foreground: 237 5% 15%;
    --destructive: 0 79% 50%;
    --destructive-foreground: 237 5% 97%;
    --border: 237 30% 82%;
    --input: 237 30% 50%;
    --ring: 237 100% 91%;
    --radius: 1rem;
    --bg-color: #0e1217;
    --grid-color: #a8b3cf;
    --star-color: #a8b3cf;
  }
  .dark {
    --background: (213, 24%, 7%);
    --foreground: 213 5% 100%;
    --card: (213, 24%, 7%);
    --card-foreground: 213 5% 100%;
    --popover: 213 50% 5%;
    --popover-foreground: 213 5% 100%;
    --primary: 213 15% 90%;
    --primary-foreground: 0 0% 0%;
    --secondary: 213 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 175 30% 25%;
    --muted-foreground: 213 5% 65%;
    --accent: 175 30% 25%;
    --accent-foreground: 213 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 213 5% 100%;
    --border: 213 30% 50%;
    --input: 213 30% 50%;
    --ring: 213 15% 90%;
    --radius: 1rem;
  }
  /* .dark {
    --background: 237 50% 10%;
    --foreground: 237 5% 97%;
    --card: 237 50% 10%;
    --card-foreground: 237 5% 97%;
    --popover: 237 50% 5%;
    --popover-foreground: 237 5% 97%;
    --primary: 237 100% 91%;
    --primary-foreground: 0 0% 0%;
    --secondary: 237 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 199 30% 25%;
    --muted-foreground: 237 5% 65%;
    --accent: 199 30% 25%;
    --accent-foreground: 237 5% 95%;
    --destructive: 0 79% 50%;
    --destructive-foreground: 237 5% 97%;
    --border: 237 30% 50%;
    --input: 237 30% 50%;
    --ring: 237 100% 91%;
    --radius: 1rem;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}
.gradient-border {
  border-image: linear-gradient(
      135deg,
      #3bc4f24e,
      #7a69f970,
      #f263786b,
      #f5833f
    )
    1;
}
.gradient-border-pseudo {
  position: relative;
  z-index: 0;
}

.gradient-border-pseudo::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: inherit;
  background: linear-gradient(135deg, #3bc4f263, #7a69f964, #f2637864, #f5833f);
}
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.animated-border-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.animated-border-wrapper::before {
  content: '';
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  z-index: -1;
  border-radius: inherit;
  opacity: 0.2;
  background: linear-gradient(135deg, #3bc4f2, #7a69f9, #f26378, #f5833f);
  background-size: 300% 300%;
  animation: movingBorder 6s linear infinite;
  filter: blur(2px);
}

@keyframes movingBorder {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
