@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-work-sans), var(--font-open-sans);
}

@layer base {
  :root {
    --background: 213 100% 100%;
    --foreground: 213 5% 10%;
    --card: 213 50% 100%;
    --card-foreground: 213 5% 15%;
    --popover: 213 100% 100%;
    --popover-foreground: 213 100% 10%;
    --primary: 213 15% 90%;
    --primary-foreground: 0 0% 0%;
    --secondary: 213 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 175 30% 95%;
    --muted-foreground: 213 5% 40%;
    --accent: 175 30% 90%;
    --accent-foreground: 213 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 213 5% 100%;
    --border: 213 30% 82%;
    --input: 213 30% 50%;
    --ring: 213 15% 90%;
    --radius: 0.5rem;
  }
  .dark {
    --background: (213, 24%, 7%);
    --foreground: 213 5% 100%;
    --card: (213, 24%, 7%);
    --card-foreground: 213 5% 100%;
    --popover: 213 50% 5%;
    --popover-foreground: 213 5% 100%;
    --primary: 213 15% 90%;
    --primary-foreground: 0 0% 0%;
    --secondary: 213 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 175 30% 25%;
    --muted-foreground: 213 5% 65%;
    --accent: 175 30% 25%;
    --accent-foreground: 213 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 213 5% 100%;
    --border: 213 30% 50%;
    --input: 213 30% 50%;
    --ring: 213 15% 90%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
